#user_nav
		

	-if user_signed_in?
		Signed in as
		=link_to current_user.email, user_path(current_user)
		Not you?
		= link_to "Sign out", destroy_user_session_path
	-else
		= link_to "Sign up", new_user_registration_path
		or
		= link_to "sign in", new_user_session_path
		%p
		%notice= notice
		%alert= alert
		
%ul
	%li= link_to "Home", root_path
	%li= link_to "Contact", pages_contact_path
	-if user_signed_in? && current_user.admin?
		%li= link_to "Manage User", manage_users_path
		%li= link_to "Manage Pois", manage_pois_path