!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml", "xmlns:og" =>"http://opengraphprotocol.org/schema/"}
	%head
		%title Treasury	
		= stylesheet_link_tag :all
		= javascript_include_tag :all
		= csrf_meta_tag
		= yield :head
	%body 
		= render 'layouts/navi'  
		= yield
		= yield :scripts